{% extends "routes/index.html" %}

{% block title %}Home{% endblock %}

{% block templaterows %}auto 1fr auto{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/components/MainHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/components/MainFooter.css' %}">
<link rel="stylesheet" href="{% static 'css/routes/home.css' %}">
{% endblock %}

{% block content %}
{%  load static %}
{% include "components/MainHeader.html" %}

<main>
    <section class="introduction">
        <div>
            <h1>Câmbio Express</h1>
            <p>Bem vindo{%if current_user%}, <span>{{current_user.username}}</span>,{%endif%} à maior agência de câmbio do país, onde você encontra:</p>
            <ul>
                <li>
                    <strong>Taxas Competitivas:</strong>
                    <p>
                    Oferecemos as melhores taxas de câmbio do mercado, garantindo que você obtenha o máximo valor pelo seu dinheiro.
                    </p>
                </li>
                <li>
                    <strong>Transações Seguras:</strong>
                    <p>
                    Utilizamos tecnologia avançada para garantir a segurança de todas as suas transações e proteger seus dados.
                    </p>
                </li>
                <li>
                    <strong>Plataforma Online Intuitiva:</strong>
                    <p>
                    Oferecemos uma plataforma digital fácil de usar para que você possa consultar taxas, fazer transações e monitorar seu saldo a qualquer hora e de qualquer lugar.
                    </p>
                </li>
                <li>
                    <strong>Variedade de Moedas:</strong>
                    <p>
                    Disponibilizamos uma ampla gama de moedas estrangeiras para que você possa realizar suas operações com facilidade, independentemente do destino.
                    </p>
                </li>
            </ul>
        </div>
        <div class="imgcontainer">
            <img src=""/>
            <section class="buttons">
                <button>
                    Dólar
                    <input type="hidden" value="USD"/>
                </button>
                <button>
                    Euro
                    <input type="hidden" value="EUR"/>
                </button>
                <button>
                    Bitcoin
                    <input type="hidden" value="BTC"/>
                </button>
            </section>
        </div>
    </section>
    <section class="feedbacks">

        <h2>FeedBacks</h2>
        <input type="hidden" class="enterimg" value="{% static 'images/star.png' %}"/>
        <input type="hidden" class="leaveimg" value="{% static 'images/selectedstar.png'%}"/>
        <input type="hidden" class="noneuser" value="{% static 'images/avatar.png' %}"/>
        <!--
        {%if current_user%}
            <div class="feedback">

                <div class="person">
                    <img src=""/>
                    <p class="name">{{current_user.username}}</p>
                    <div class="stars">
                        <input type="hidden" value="{% static 'images/selectedstar.png'%}"/>
                        <input class="total" type="hidden" value="0"/>
                        <img src="{% static 'images/star.png' %}"/>
                        <img src="{% static 'images/star.png' %}"/>
                        <img src="{% static 'images/star.png' %}"/>
                        <img src="{% static 'images/star.png' %}"/>
                        <img src="{% static 'images/star.png' %}"/>
                    </div>
                </div>
                <div class="avaliation">

                </div>

            </div>
        {%endif%}
        <div class="feedback">

            <div class="person">
                <img src="{% static 'images/avatar.png' %}"/>
                <p class="name"></p>
                <div class="stars">
                    <input type="hidden" value="{% static 'images/selectedstar.png'%}"/>
                    <input class="total" type="hidden" value="0"/>
                    <img src="{% static 'images/star.png' %}"/>
                    <img src="{% static 'images/star.png' %}"/>
                    <img src="{% static 'images/star.png' %}"/>
                    <img src="{% static 'images/star.png' %}"/>
                    <img src="{% static 'images/star.png' %}"/>
                </div>
            </div>
            <div class="avaliation">

            </div>

        </div>
        -->
    </section>
</main>

{% include "components/MainFooter.html" %}
<script src="{% static 'js/home.js'%}"></script>
{% endblock %}

