{% extends "routes/index.html" %}

{% block title %}Login{% endblock %}

{% block templaterows %}auto 1fr{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/components/MainHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/components/MainFooter.css' %}">
<link rel="stylesheet" href="{%static 'css/routes/login.css' %}">
{% endblock %}

{% block content %}

{% include "components/MainHeader.html" %}

<main>
        {% if current_user %}

            <section>
                <h2>Usuario ja logado</h2>
            </section>

        {%else%}

            <form action={% url "login" %} method="POST">
                <fieldset>
                    <legend>Login</legend>
                    <input type="email" name="email" placeholder="Digite um email"/>
                    <input type="password" name="password" placeholder="Digite uma senha"/>
                    {% csrf_token %}
                    <input type="submit"/>
                </fieldset>
            </form>

            <form action={% url "register" %} method="POST">
                <fieldset>
                    <legend>Registro</legend>
                    <input type="text" name="username" placeholder="Digite um nome de usuario"/>
                    <input type="email" name="email" placeholder="Digite um email"/>
                    <input type="password" name="password" placeholder="Digite uma senha"/>
                    {% csrf_token %}
                    <input type="submit"/>
                </fieldset>
            </form>

            {%if messages%}
            {%for message in messages%}
            <p>{{message}}</p>
            {%endfor%}
            {%endif%}

        {%endif%}
</main>

{% endblock %}

