{% extends "routes/index.html" %}

{% block title %}Home{% endblock %}

{% block templaterows %}auto 1fr auto{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/components/MainHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/components/MainFooter.css' %}">
<link rel="stylesheet" href="{% static 'css/routes/home.css' %}">
{% endblock %}

{% block content %}

{% include "components/MainHeader.html" %}

<main>

    <section class="introduction">
        <div>
            <h1>Câmbio Express</h1>
            <p>Bem vindo{%if current_user%}, <span>{{current_user.username}}</span>,{%endif%} à maior agência de câmbio do país</p>
        </div>
        <div class="imgcontainer">
            <img src=""/>
        </div>
    </section>
    <section class="content">
        <section class="information">
        </section>
    </section>
  
</main>

{% include "components/MainFooter.html" %}
<script src="{% static 'js/apiconsume.js'%}"></script>
{% endblock %}

