{% extends "routes/index.html" %}

{% block title %}Home{% endblock %}

{% block templaterows %}auto 1fr auto{% endblock %}

{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/components/MainHeader.css' %}">
<link rel="stylesheet" href="{% static 'css/components/MainFooter.css' %}">
<link rel="stylesheet" href="{% static 'css/routes/home.css' %}">
{% endblock %}

{% block content %}

{% include "components/MainHeader.html" %}

<main>

    <section class="introduction">
        <div class="">
            <h1>CO<sub>2</sub> Exchange</h1>
            <p>Bem vindo{%if current_user%}, <span>{{current_user.username}}</span>,{%endif%} à maior gestora de créditos de carbono do país</p>
        </div>
    </section>
    <section class="content">
        <section class="information">
            
        </section>
    </section>
  
</main>

{% include "components/MainFooter.html" %}

{% endblock %}

