<!DOCTYPE html>
<html lang="pt-br">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/routes/index.css' %}">
  <style>
     body{
        display: grid;
        min-height: 100%;
        grid-template-rows: {% block templaterows %}{% endblock %};
        padding: 0;
        margin: 0
     }
  
     html{height: 100%}
  </style>
  {% block stylesheet %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>