main{
    display: grid;
    place-items: center;
}

main > section {
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 80%;
}

main > section form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main > section form > div {
    display: flex;
    margin-bottom: 20px;
}

main > section form > div > input {
    border:none;
    outline: none;
    margin-left: 10px;
    overflow: visible;
}

main > section form > div > input.write {
    padding: 0 5px;
    border: 1px solid black;
    overflow: hidden;
}

main > section form > div > button{
    margin-left: auto;
}

main > section form > input[type="submit"] {
    align-self: flex-start;
}