main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

main > section {
    padding: 40px 20px;
}

main section.introduction{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: black;
    background-color: white;
}

main section.introduction * {
    margin: 0;
}

main section.introduction p span{
    color: orange;
}

main section.introduction ul > li{
    margin-top: 20px;
}

main section.introduction > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section.introduction > .imgcontainer{
    align-items: center;
}

main section.introduction > .imgcontainer > img {
    width: 100%;
    max-height: 80%;
}

main section.introduction > .imgcontainer > section button {
    padding: 5px 10px;
    border: 1px solid rgb(202, 132, 2);
    background-color: inherit;
    color:black;
    transition: all 0.5s;
}

main section.introduction > .imgcontainer > section button:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgb(202, 132, 2);
    color:white
}

main section.introduction p{
    font-size: 15px;
    margin-top: 10px;
}

main section.feedbacks {
    background-color: lightgray;
}

main section.feedbacks > h2 {
    text-align: center;
    text-transform: uppercase;
}

main section.feedbacks > div.feedback {
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
}

main section.feedbacks > div.feedback > div.person {
    display: flex;
    align-items: center;
}

main section.feedbacks > div.feedback > div.person > img {
    width: 30px;
    height: 30px;
}

main section.feedbacks > div.feedback > div.person > div.stars {
    margin-left: auto;
}

main section.feedbacks > div.feedback > div.person > div.stars img {
    width: 20px;
}

main{
    background-color: white;
}