main section.introduction{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: black;
    padding: 20px;
    height: 100vh;
}

main section.introduction * {
    margin: 0;
}

main section.introduction span{
    color: orange;
}

main section.introduction p{
    font-size: 18px;
    margin-top: 20px;
}

main{
    background-color: white;
}