body > footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkslategray;
  padding: 10px
}

body > footer * {
  color: white
}

body > footer > section > ul {
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none
}

body > footer h2{
  font-size: 15px
}

body > footer > section > ul li a {
  color: aquamarine;
  font-size: 12px;
  text-decoration: none
}

body > footer > section h3 {
  font-size: 15px;
  margin: 0
}

