{% load static %}
<header>
  <nav>
    <ul>
      <li class="img">
        <a href="{% url 'home' %}">
          <img src="{% static 'images/logo.png'%}">
        </a>
      </li>
        {%if current_user%}
          <section>
            <div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <ul>
              <li><a href="{% url 'configurations' %}">Configurations</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </section>
        {%else%}
        <li>
          <a href="{% url 'loginview' %}">Login</a>
        </li>
        {%endif%}
    </ul>
  </nav>
</header>
